<html>
<head>
	<link rel="stylesheet" href="styles.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Arapey">
    <meta charset="UTF-8">
</head>


<body>




    
	<div class="page">
        <h1>Øhl med högst APK på Systembolaget Landala</h1>


<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill dagens">
        <h2>Dagens Øhl </h2>
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
		</a>



    <a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    
        <div class="fill">      
        <img class="ol" src="https://product-cdn.systembolaget.se/productimages/508311/508311_400.png">
    
        <div class="info">
            <p class="name">Bryggmästarens Premium Gold</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>

    </div>
</a>
<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>


<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>

<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">

    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>
<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>
<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">

    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>

  

<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>
<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://product-cdn.systembolaget.se/productimages/402946/402946_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>
<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>
<a href="https://www.systembolaget.se/produkt/ol/eybro-143215/">
    <div class="fill">
        <img class="ol" src="https://sb-product-media-prod.azureedge.net/productimages/24463370/24463370_400.png">
        <div class="info">
            <p class="name">Ey'Bro</p>
            <p class="Volym">Volym: 330 ml</p>
            <p class="Pris">Pris: 7:90 kr</p>
            <p class="halt">Alkoholhalt: 5.0%</p>
            <p class="apk">APK: 2.0886</p>
            <p class="Lager">Kvar i lager: 16</p>
        </div>
    </div>
</a>






	</div>

</body>


</html>
